<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {*
    <link rel="shortcut icon" href="/alcohol/images/favicon.ico">
    <link rel="icon" href="/alcohol/images/favicon.ico">
    <link rel="favicon" href="/alcohol/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" type="text/css" href="/alcohol/css/default.css">
    *}
    <!--<script async src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!--    <script type="text/javascript" async src="../jQuery.js"></script>-->
    <title>{$TITLE}</title>
</head>
<body>
<div class="container">
    {$data}
    {$translated_text}
</div>
</body>
</html>